@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500);
@import url(reset.css);

* {
  box-sizing: border-box;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: Montserrat;
  font-size: 1rem;
}

.feedback-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  height: 40px;
}

textarea {
  height: 112px;
  resize: none;
}
input,
textarea {
  padding: 8px 16px;
  display: block;
  margin-top: 0.5rem;
  min-width: 360px;
  border-radius: 0.25rem;
  border: 1px solid #808080;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover,
textarea:hover {
  border: 1px solid #000;
}

input:active,
textarea:active {
  border: 1px solid #808080;
}

button {
  display: inline-block;
  max-width: 5.9375rem;
  max-height: 2.5rem;
  padding: 0.5rem 1rem;
  background-color: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 0.5rem;
  border: 0;
  transition: all var(--animation-duration) var(--timing-function);
}

button:hover {
  background-color: #6c8cff;
}
